* {
    box-sizing: border-box;
}

:root {
    --font-heading: Sen, sans-serif;
    --primary-color: #ffb900;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* common */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    color: #fff;
    min-width: 118px;
    line-height: 50px;
    padding: 0 16px;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    background: #171100;
    border-radius: 99px;
}
.btn:hover {
    opacity: 0.9;
}
/* header */

.header {
    background: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}
.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a:hover,
.nav li.active a {
    color: #171100;
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
    text-shadow: 1px 0 0 currentColor;
}

.nav a {
    position: relative;
    padding: 8px 21px;
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.nav li.active a::after {
    content: "";
    position: absolute;
    display: block;
    left: 21px;
    bottom: 6px;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.header .sign-up-btn {
    min-width: 144px;
}

.header .action {
    margin-left: 49px;
}

/* <!-- Hero --> */
.hero {
    padding-top: 56px;
    background: #fffcf4;
}

.hero .body {
    display: flex;
}

/* <!-- Hero-left --> */
.hero .media-block {
    width: 48%;
    position: relative;
}

.hero .media-block .img {
    display: flex;
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
    width: 270px;
    padding: 24px;
    font-size: 1.4rem;
}

.hero-summary .items {
    display: flex;
    align-items: center;
}

.hero-summary .items + .items {
    margin-top: 22px;
}

.hero-summary .icon {
    display: flex;
    background: #fff9e8;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.hero-summary .items:nth-last-of-type(2) .icon {
    background: #fcefff;
}

.hero-summary .items:nth-last-of-type(1) .icon {
    background: #ebeaff;
}
.hero-summary .info {
    margin-left: 16px;
}

.hero-summary .info .label {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86; /* 185.714% */
}

.hero-summary .info .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}
/* <!-- Hero-right --> */

.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.hero .heading {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -1.16px;
}

.hero .desc {
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    margin: 48px 0 22px;
}

.hero .cta-group {
    margin-top: 38px;
    display: flex;
}

.hero-cta {
    min-width: 180px;
    border-radius: 32px;
    background-color: var(--primary-color);
    line-height: 64px;
}

.hero .watch-video {
    display: flex;
    align-items: center;
    border: none;
    margin-left: 28px;
    background: #fffcf4;
    cursor: pointer;
}

.hero .watch-video .icon {
    border-radius: 40px;
    background: #fff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.07);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .watch-video span {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    margin-left: 14px;
}

.hero .stats strong {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.22;
    margin-right: 4px;
}

.hero .stats strong:last-child {
    margin-left: 28px;
}
